{% extends 'django_template.html' %} {% load static %} {% block content %}
<div class="breadcumb-wrapper" data-bg-src="{% static 'img/breadcumb/breadcumb-bg.jpg' %}">
     <div class="container z-index-common">
          <div class="breadcumb-content">
               <h1 class="breadcumb-title">
                    Types of <span class="font-style text-theme2">Variety</span>
               </h1>
               <!-- <ul class="breadcumb-menu"> -->
               <!-- <li><a href="index.html">Home</a></li> -->
               <!-- <li>Shop</li> -->
               <!-- </ul> -->
          </div>
     </div>
</div>
<section class="as-product-wrapper mt-5 space-extra-bottom" data-bg-src="{%static 'img/bg/feature_bg_2.png'%}">
     <div class="container">
          <div class="title-area text-center">
               <span class="sub-title"><img class="icon" src="{%static 'img/icon/title_icon.svg'%}" alt="icon" />
                    Menu</span>
               <h2 class="sec-title">
                    Our Exotic <span class="font-style text-theme">Items</span>
               </h2>
               <p class="sec-text ms-auto me-auto">
                    Dear diet, things just aren’t looking good for the both of us. It’s not me, it’s you. You’re too much work. You’re boring and I can’t stop cheating on you.
               </p>
          </div> 
          <div class="shape-mockup leaf jump" data-top="0%" data-left="0"><img src="{%static 'img/shape/leaf_1.png '%}"
               alt="shape"></div>
     <div class="shape-mockup leaf jump" data-top="0%" data-right="0"><img src="{%static 'img/shape/leaf_2.png '%}"
               alt="shape"></div>
          <div class="shape-mockup chili jump-reverse" data-bottom="0%" data-right="0"><img
               src="{%static 'img/shape/red_chili.png' %}" alt="shape"></div>
          {% for row in table %}
          <div class="row gy-40 justify-content-center mb-5">
               {% for colum in row %}
               <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="as-product ">
                         <div class="product-img">
                              <img src="{{settings.CATEGORY}}{{colum.image}}" alt="Product Image" />
                         </div>
                         <div class="product-content ">
                              {% comment %} <a href="#" class="category">Salad</a> {% endcomment %}
                              <div class="product-rating">
                                   <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5">
                                        <span style="width: 75%">Rated <strong class="rating">4.00</strong> out of
                                             5</span>
                                   </div>
                                   (4.00)
                              </div>
                              <h3 class="product-title"><a href="#">{{colum.title}}</a></h3>
                              {% comment %} <span class="price">$80.85<del>$99.99</del></span> {% endcomment %}
                              <div class="actions">
                                   <a href="/app1/menu/{{colum.id}}" class="icon-btn "><i class="fal fa-eye"></i></a>
                                   {% comment %} <a href="#" class="icon-btn"><i class="fal fa-cart-plus"></i></a> {% endcomment %}
                                   {% comment %} <a href="#" class="icon-btn"><i class="fal fa-heart"></i></a> {% endcomment %}
                              </div>
                         </div>
                    </div>
               </div>
               {% endfor %}
          </div>
          {% endfor %}
     </div>
</section>
<section class="space bg-title" data-bg-src="{%static 'img/bg/feature_bg_2.png' %}">
     <div class="container">
          <div class="title-area text-center"><span class="sub-title"><img class="icon"
                         src="{%static 'img/icon/title_icon.svg' %}" alt="icon"> Our Strength</span>
               <h2 class="sec-title text-white">Our Most Loved <span class="font-style text-theme">Foods</span>
               </h2>
               <p class="sec-text ms-auto me-auto text-white">Objectively pontificate quality models before
                    intuitive information. Dramatically recaptiualize multifunctional materials.</p>
          </div>
          <div class="feature-grid-wrap">
               <div class="feature-grid">
                    <div class="feature-grid_img"><img src="{%static 'img/icon/feature_4_1.svg' %}" alt="Food"></div>
                    <div>
                         <h3 class="feature-grid_title box-title text-white">Fast Foods</h3>
                         <p class="feature-grid_text text-border">Professionally fabricate e-business vortals and
                              impactful core competencie. Compellingly impact technically sound</p>
                    </div>
               </div>
               <div class="feature-grid">
                    <div class="feature-grid_img"><img src="{%static 'img/icon/feature_4_2.svg' %}" alt="Food"></div>
                    <div>
                         <h3 class="feature-grid_title box-title text-white">Healthy Foods</h3>
                         <p class="feature-grid_text text-border">Professionally fabricate e-business vortals and
                              impactful core competencie. Compellingly impact technically sound</p>
                    </div>
               </div>
               <div class="feature-grid">
                    <div class="feature-grid_img"><img src="{%static 'img/icon/feature_4_3.svg' %}" alt="Food"></div>
                    <div>
                         <h3 class="feature-grid_title box-title text-white">Hygienic Foods</h3>
                         <p class="feature-grid_text text-border">Professionally fabricate e-business vortals and
                              impactful core competencie. Compellingly impact technically sound</p>
                    </div>
               </div>
          </div>
     </div>
</section>
{% endblock %}