{% extends 'django_template.html' %} {% load static %} {% block content %}
<div class="breadcumb-wrapper" data-bg-src="{% static 'img/breadcumb/breadcumb-bg.jpg' %}">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">
                <span class="font-style text-theme2">Hotel</span>
            </h1>
            <!-- <ul class="breadcumb-menu"> -->
            <!-- <li><a href="index.html">Home</a></li> -->
            <!-- <li>Shop</li> -->
            <!-- </ul> -->
        </div>
    </div>
</div>
<section class="bg-smoke2" data-bg-src="{%static 'img/bg/feature_bg_2.png'%}">
    <div class="container">
        <div class="title-area text-center space-top">
            <span class="sub-title"><img class="icon" src="{%static 'img/icon/title_icon.svg'%}" alt="icon" />
                Our Hotel</span>
            <h2 class="sec-title">
                Wide range of <span class="font-style text-theme">Hotels</span>
            </h2>
            <p class="sec-text ms-auto me-auto">
                Objectively pontificate quality models before intuitive information.
                Dramatically recaptiualize multifunctional materials.
            </p>
        </div>
        {% comment %} {% for row in table %}
        <div class="row" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2"
            data-xs-slide-show="1" data-arrows="true">
            <div class="row justify-content-center">
                {% for colum in row %}
                <div class="col-md-6 col-lg-3 col-xxl-3 mb-5">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="{{settings.HOTEL}}{{colum.image}}" style="height: 218px; width: 218px"
                                class="img-fluid" alt="Team" />
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title text-capitalize">
                                <a href="/app1/category/{{colum.id}}">{{colum.companyname}}</a>
                            </h3>
                            <span class="team-desig">{{colum.name}}</span>
                            <div class="as-social">{{colum.desc}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}  {% endcomment %}
    <section class="">
            <div class="container">
                 <div class="row justify-content-center ">
                    {% for colum in table %}
                    <div class="col-md-6 col-xl-4 my-4 ">
                        {% comment %} <div class="blog-card"  style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                             <div class="blog-img">
                                <img src="{{settings.HOTEL}}{{colum.image}}" alt="blog image" class="img-fluid" style="height:261px;">
                            </div>
                             <div classbrea="blog-content ">
                                  <h3 class="blog-title text-capitalize"><a href=""><i class="fa-sharp fa-solid fa-hotel"></i> <u> {{colum.name}}</u></a></h3>
                                  <p>
                                    {{colum.desc}}
                                  </p>
                                  <div class="blog-bottom"><a href="/app1/category/{{colum.id}}" class="line-btn">View Food</a>
                                       <a href="blog-details.html" class="comment"><i
                                                 class="fa-regular fa-comments"></i>30 dish</a></div>
                             </div>
                        </div> {% endcomment %}
                        <div class="blog-card">
                            <div class="blog-img"><img src="{{settings.HOTEL}}{{colum.image}}" style="height:261px;" alt="blog image"></div>
                            <div class="blog-content">
                                 <h3 class="blog-title"><a href="/app1/category/{{colum.id}}">{{colum.name}}</a></h3>
                                 <p>{{colum.desc}}</p>
                                 <div class="blog-bottom"><a href="/app1/category/{{colum.id}}" class="line-btn">View Food</a>
                                      <a href="blog-details.html" class="comment"><i
                                                class="fa-regular fa-comments"></i>30 Dishes</a></div>
                            </div>
                       </div>
                   </div>
                    {% endfor %}
                     {% comment %} <div class="col-md-6 col-xl-4">
                           <div class="blog-card">
                                <div class="blog-img"><img src="{% static 'assets/img/blog/blog_1_2.jpg' %}" alt="blog image"></div>
                                <div class="blog-content">
                                     <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>By
                                               Pizzer</a> <a href="blog.html"><i class="fa-light fa-calendar-days"></i>16
                                               July, 2022</a> <a href="blog.html"><i
                                                    class="fa-regular fa-tag"></i>Mutton</a></div>
                                     <h3 class="blog-title"><a href="blog-details.html">New Restaurant Town Our Ple Award
                                               Contract</a></h3>
                                     <div class="blog-bottom"><a href="blog-details.html" class="line-btn">Read More</a>
                                          <a href="blog-details.html" class="comment"><i
                                                    class="fa-regular fa-comments"></i>3 Comments</a></div>
                                </div>
                           </div>
                      </div>
                      <div class="col-md-6 col-xl-4">
                           <div class="blog-card">
                                <div class="blog-img"><img src="{% static 'assets/img/blog/blog_1_3.jpg' %}" alt="blog image"></div>
                                <div class="blog-content">
                                     <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>By
                                               Pizzer</a> <a href="blog.html"><i class="fa-light fa-calendar-days"></i>17
                                               July, 2022</a> <a href="blog.html"><i
                                                    class="fa-regular fa-tag"></i>Burger</a></div>
                                     <h3 class="blog-title"><a href="blog-details.html">Innovative Hot Chessy raw Pasta
                                               Make Creator.</a></h3>
                                     <div class="blog-bottom"><a href="blog-details.html" class="line-btn">Read More</a>
                                          <a href="blog-details.html" class="comment"><i
                                                    class="fa-regular fa-comments"></i>3 Comments</a></div>
                                </div>
                           </div>
                      </div>
                      <div class="col-md-6 col-xl-4">
                           <div class="blog-card">
                                <div class="blog-img"><img src="{% static 'assets/img/blog/blog_1_4.jpg' %}" alt="blog image"></div>
                                <div class="blog-content">
                                     <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>By
                                               Pizzer</a> <a href="blog.html"><i class="fa-light fa-calendar-days"></i>21
                                               July, 2022</a> <a href="blog.html"><i
                                                    class="fa-regular fa-tag"></i>Burger</a></div>
                                     <h3 class="blog-title"><a href="blog-details.html">Best Hot Chessy raw In Pasta
                                               Makeing Trick.</a></h3>
                                     <div class="blog-bottom"><a href="blog-details.html" class="line-btn">Read More</a>
                                          <a href="blog-details.html" class="comment"><i
                                                    class="fa-regular fa-comments"></i>3 Comments</a></div>
                                </div>
                           </div>
                      </div> {% endcomment %}
                 </div>
            </div>
       </section>
    </div>
    <div class="shape-mockup leaf jump" style="top: 10%; left: 0px">
        <img src="{% static 'img/shape/leaf_1.png'%}" alt="shape" />
    </div>
    <div class="shape-mockup leaf jump" style="top: 10%; right: 0px">
        <img src="{% static 'img/shape/leaf_1.png'%}" alt="shape" />
    </div>
    <div class="shape-mockup chili jump-reverse" style="right: 0px; bottom: 0%">
        <img src="{% static 'img/shape/red_chili.png'%}" alt="shape" />
    </div>
</section>
{% endblock %}