{% extends 'django_template.html' %} {% load static %} {% block content %}
<div class="breadcumb-wrapper" data-bg-src="{% static 'img/breadcumb/breadcumb-bg.jpg' %}">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">
                Delicious <span class="font-style text-theme2">Italian</span>
            </h1>
            <!-- <ul class="breadcumb-menu"> -->
            <!-- <li><a href="index.html">Home</a></li> -->
            <!-- <li>Shop</li> -->
            <!-- </ul> -->
        </div>
    </div>
</div>
<section class="space-top    space-extra-bottom">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><img class="icon" src="{%static 'img/icon/title_icon.svg'%}" alt="icon" />
                Restaurant Food Menu</span>
            <h2 class="sec-title">
                Our Restaurant <span class="font-style text-theme">Food Menu</span>
            </h2>
            <p class="sec-text ms-auto me-auto">
                Objectively pontificate quality models before intuitive information.
                Dramatically recaptiualize multifunctional materials.
            </p>
        </div>
        <h3 class="divider-title mt-n2">
            <span class="text">
                
                {{blds_name}} Food
            </span>
            </h3>
        <div class="row gy-4">
            {% for row in table %}
            <div class="col-lg-6">
                <div class="as-product list-view">
                    <div class="product-img">
                        <img src="{{settings.PRODUCT}}{{row.image}}" alt="Product Image" />
                    </div>
                    <div class="product-content">
                        <h3 class="product-title">
                            <a href="shop-details.html">{{row.title}}</a>
                        </h3>
                        <p class="product-text">{{row.desc}}
                        </p>
                        <span class="price">${{row.price}}</span>
                        <div class="actions">
                            <a href="/app1/product/{{row.id}}" class="as-btn">order now</a>
                        </div>
                    </div>
                </div>
            </div>
           {% endfor %}
            
        </div>
    </div>
    <div class="shape-mockup chili jump-reverse" data-top="0%" data-left="0">
        <img src="{% static 'img/shape/red_chili_2.png'%}" alt="shape" />
    </div>
    <div class="shape-mockup jump" data-top="12%" data-right="5%">
        <img src="{% static 'img/shape/leaf_4.png'%}" alt="shape" />
    </div>
    <div class="shape-mockup jump" data-top="36%" data-left="4%">
        <img src="{% static 'img/shape/leaf_4.png'%}" alt="shape" />
    </div>
    <div class="shape-mockup jump-reverse" data-bottom="15%" data-left="4%">
        <img src="{% static 'img/shape/leaf_5.png'%}" alt="shape" />
    </div>
    <div class="shape-mockup leaf jump" data-bottom="15%" data-right="0">
        <img src="{% static 'img/shape/leaf_6.png'%}" alt="shape" />
    </div>
</section>
{% endblock %}